a{
    color: #222;
    text-decoration: none;
}

.container-padding{
    padding: 0px 50px;
}


.tag{
    display: flex;
    gap: 20px;
    justify-content: center;
     }
.main-header{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#e3e6f3; 
    width:100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    z-index: 999;
}



.container-image{
    background-image: url('./img/hero4.png');
    height: 100vh;
    width: 100%;
    background-size: cover ;
    background-position: 0% -20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-image > h3{
    font-size: 24px; font-weight: 600; text-transform: capitalize;
}
.container-image > h1{
    font-size: 50px;
}
.container-image > p{
    color: rgb(39, 56, 56);
    padding-top:25px ;
}
.container-image > div{
    width:220px;
    height: 45px;
    margin-top: 14px;
    overflow: hidden;
    position: relative;
}
.container-image > div > img{
 width:100%;
 height: 100%;

}
.container-image > div > p{
   position: absolute;
   top:25%;
   left: 30%;
   
   }


.section{
    padding: 40px 80px;
}
.featcher-container{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap:12px
}

.featcher-container > div{
    width:180px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px;
    text-align: center;
}
.featcher-container > div:nth-child(1) >p{
     background-color: rgb(190, 185, 185);
     padding: 7px 0 ;
}
.featcher-container > div:nth-child(2) >p{
    background-color: rgb(43, 36, 68);
    padding: 7px 0 ;
}
.featcher-container > div:nth-child(3) >p{
    background-color: rgb(196, 183, 9);
    padding: 7px 0 ;
}
.featcher-container > div:nth-child(4) >p{
    background-color: rgb(17, 104, 145);
    padding: 7px 0 ;
}
.featcher-container > div:nth-child(5) >p{
    background-color: rgb(14, 196, 54);
    padding: 7px 0 ;
}
.featcher-container > div:nth-child(6) >p{
    background-color: rgb(156, 21, 100);
    padding: 7px 0 ;
}
.product-content{
    text-align: center;
     padding: 60px; 
     height: 30%;
      margin: 20px;
       line-height: 54px;
        color: #222; 
        font-size: 32px;
}

.product-content> p{
    font-size: 16px;
     color: #465b52; 
    margin: 15px 0 20px 0;
}
.product-container{
    display: flex; gap: 30px; flex-wrap: wrap; justify-content: center  ;
}

.product-container > div{
    width: 280px; border-radius: 20px; height: auto; padding: 12px; overflow: hidden; background-color: white; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.product-container > div > p{
    margin: 8px 0;

}
.product-container > div > img{
    width: 100%;
}

.service-container  > p {
    font-size: 30px;
    font-size: 30px; 
    /* line-height: 54px;  */
    text-align: center;  
}
.service-container > p > span {
    color:red
}
.service-container  > button{
    font-size: 14px; font-weight: 600; padding: 15px 30px; border-radius: 4px; transition: 1s; border: none;
}
.service-container  > button:hover{
   background-color: #088178;
   color: white;
}
.arrival-container > h1 {
    text-align: center; 
    padding: 60px; height: 30%;
    margin: 20px; line-height: 54px; 
    color: #222; font-size: 32px;
}
.arrival-container > p {
    font-size: 16px; color: #465b52;
    margin: 15px 0 20px 0;
    font-family: 'Playfair Display', serif;
}

.card-content{
    display: flex; 
    gap: 30px; flex-wrap: wrap; 
    justify-content: center;
}
.card-content > p {
 width: 280px; border-radius: 20px; 
 height: auto; padding: 12px; 
 overflow: hidden; background-color: white; 
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card-content > div > img {
    width: 100%;
}

.card-content > div:nth-child(1) > p {
    margin: 8px 0;
}

.card-content > div:nth-child(2) > p {
    margin: 8px 0;
}
.card-content > div:nth-child(3) > p {
    margin: 8px 0;
}
/* .container-paddin2{
padding: 0 20px;
} */
.crazy-container{
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 12px;
    padding: 80px 20px;
    /* z-index: -99; */
}
.crazy-content{
    width: clamp(300px ,100% ,520px); 
    background-image: url('./img/banner/b17.jpg');
    background-position: right  top;
    height: 320px;
    overflow: hidden;  
    color: white;
    padding-left: 20px;
    padding-top: 40px;
    gap: 20px;
}
.crazy-content > button{
background-color: white;
position: relative;    font-size: 13px;
font-weight: 600;
padding: 11px 18px;
color: white;
background-color: transparent;
cursor: pointer;
outline: none;
transition: 0.2s;
border: 1px solid white;
}
.crazy-content > button:hover{
    background-color: #088178;
    color: white;
}

.crazy-content2{
    width: clamp(300px ,100% ,520px); 
    background-image: url('./img/banner/b10.jpg');
    height: 320px;
    overflow: hidden;  
}

.seasonal-container{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    position: relative; 
    z-index: -1;gap:12px;
}


.blog-box{
    padding: 150px 150px 0 150px;
     display: flex;
}
.blog-img{
    width: 50%;  height: 300px;
}
.blog-text{
    width: 50%; height: 300px; padding-left: 40px; font-family: 'Spartan', sans-serif; padding-top: 50px;
}
/* .crazy-content{
    width: clamp(300px ,100% ,520px); 
    background-image: url('./img/banner/b17.jpg');
    height: 320px;
    overflow: hidden;  
    position: relative;


}
.crazy-content > div {
    z-index: 990;
}
.crazy-content > div > button {
    font-size: 20px; padding: 10px 10px; background-color: transparent; position: relative; z-index: 1000;
}
.crazy-content > div > button:hover {
  transform: scale(2);
    
}
.crazy-content > div:nth-child(1) {
    height: 300px;  
    overflow: hidden; 
    position: relative; 
    z-index: -1; 
    width: clamp(300px , 100%, 550px);
}


.crazy-content2{
    width: clamp(300px ,100% ,520px); 
    background-image: url('./img/banner/b10.jpg');
    height: 320px;
    overflow: hidden;  
    position: relative;
}

.crazy-content2 > div > button {
    font-size: 20px; padding: 10px 10px; background-color: transparent; position: relative; z-index: 1000;
}
.crazy-content2 > div > button:hover {
  transform: scale(2);
    
}
.crazy-content2 > div:nth-child(1) {
    height: 300px;  
    overflow: hidden; 
    position: relative; 
    z-index: -1; 
    width: clamp(300px , 100%, 550px);
} */



.card-container > div:nth-child(2){
    width: clamp(300px , 100%, 550px);
}
.card-container > div > img{
    width: 100%; height: 300px;
}
.card-container > div
 > div {
    position: absolute; 
    font-family: 'Spartan', sans-serif; 
    top:25%; color: aliceblue; 
    font-size: 28px; 
    padding: 20px;
}

.card-container > div:nth-child(1) > p{
    color: white; font-size: 20px; font-weight: 300;
}
.card-container > div:nth-child(2) > p{
    color: white; font-size: 28px; font-weight: 800;
}
.card-container > div:nth-child(3) > p{
    color: white; font-size: 14px; font-weight: 500; padding-bottom: 15px;
}
.card-container > div > button{
    font-size: 13px; font-weight: 600; 
    padding: 11px 18px; color: white; 
    background-color: transparent; 

}


/* .img-container{
    background-position: 80%;
} */
.about-box{
padding: 150px 150px 0 150px; display: flex; 
}
.about-img{
width: 50%;  height: 400px;
}
.about-text{
width: 50%; height: 300px; padding-left: 40px; font-family: 'Spartan', sans-serif; padding-top: 50px;
}

.app-container > h2 {
font-size: 50px; padding-top: 60px; text-align: center;
}
.app-box{
    text-align: center; 
    display: flex;
    justify-content: center;  
  }

.end-container{
    font-family: 'Spartan', sans-serif; display: flex; justify-content: space-between; 
    overflow: hidden; padding: 40px 80px; flex-wrap: wrap;
  }

.blue-container{
    background-color: #041e42;
    padding: 40px 80px;
    display: flex; 
    
    justify-content: space-between; 
    flex-wrap: nowrap; 
    margin-top: 50px;
    gap:10px
  }

.end-container{
    font-family: 'Spartan', sans-serif; display: flex; 
    justify-content: space-between; 
    overflow: hidden; 
    padding: 40px 80px; 
    flex-wrap: wrap;
}
.map-area{
    width: 50%; overflow: hidden;
}
.map-area>iframe{
    width: 100%;
    padding:5px
}

@media screen and (max-width:1263px) {
    .seasonal-container{
        justify-content: space-around;
        /* align-items: center; */
    } 
}

@media (max-width:900px){
    .about-box{
        padding: 60px 50px 0 50px;
        }   
}
 
@media screen and (max-width:800px) {
    .container-image{
        background-position: 70%;
    }
    .crazy-container{
        flex-direction: column;
        align-items: center;
    }
    .blog-box{
        padding: 150px 60px 0 60px; 
    }
    .blue-container{
        flex-direction: column;
    /* align-items: center; */
    }
    .blue-container>div:nth-child(2){
  
    /* justify-content: flex-end; */
    margin: 0 10%;

    }
}
@media (max-width:755px){
    .map-area{
        width:clamp(300px, 100%, 720px);
        padding: 10px;
        overflow: hidden;
     } 
}
@media (max-width:700px){
    .about-box{
            flex-direction: column;
        }   
    .about-img{
            width: 100%;  
            }
    .about-text{
            width: 100%;padding-left: 0px; 
            }
           
}


@media screen and (max-width : 540px) {
    .images{
        justify-content: center;
    }
    .blog-box{
        padding: 150px 20px 0 20px; 
    }
    .about-box{
        padding: 60px 10px 0 10px;
        }   
    
}

@media screen and (max-width : 570px) {
    header{
        display: none;
    }
    .container-image > h1{
        font-size: 35px;
    }
    .container-padding{
        padding: 0px 20px;
    }
    .section{
        padding: 60px 20px;
    }
}

@media screen and (max-width:450px) {
    .container-image{
        background-position: 80%;
        padding: 150px 12px 0 12px;
    }
    .blog-box{
      flex-direction: column;
      padding-top: 40px ;
    }
    .blog-img{
        width: 100%;  height: 300px;
    }
    .blog-text{
        width: 100%; padding-left: 0px; padding-top: 20px; height: 180px; 
    }
    .service-container{
        gap:10px
    }
    .service-container > p:nth-child(2){
        /* background-color: red; */
        font-size: 22px;
    }
    .end-container{
       padding: 40px 15px; 
    }
    .blue-container{
        padding: 20px 10px;
    }
    .end-content{
        padding: 40px 15px;
    }
    .blue-container>div:nth-child(2){
  
        /* justify-content: flex-end; */
        margin: 0 0%;
     }
    
}




